/* stylelint-disable color-function-notation */
// Custom Theming for Angular Material
@use '@angular/material' as mat;
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

// =chroma.scale(['#FFF','#E7EBF4']).colors(3)
//#ffffff,#f3f5fa,#e7ebf4
// =chroma.scale(['#E7EBF4','#203A8F','#132357']).colors(9)
//#e7ebf4,#b5bfdb,#8493c2,#5266a8,#203a8f,#1d3481,#1a2f73,#162965,#132357

$mat-blue-nvs: (
  50: #f0f1f7,
  100: #e1e3ee,
  200: #b8bdd6,
  300: #8f97be,
  400: #6671a6,
  500: #091354,
  600: #08114c,
  700: #070f44,
  800: #060d3c,
  900: #050b34,
  A100: #7986ff,
  A200: #4d5cff,
  A400: #3d4aff,
  A700: #2d3aff,
  contrast: (
    50: rgba(black, .87),
    100: rgba(black, .87),
    200: rgba(black, .87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, .87),
    A200: white,
    A400: white,
    A700: white
  )
);
$mat-cyan-nvs: (
  50: #e3f2fd,
  100: #bbdefb,
  200: #90caf9,
  300: #64b5f6,
  400: #42a5f5,
  500: #2979ff,
  600: #1e88e5,
  700: #1976d2,
  800: #1565c0,
  900: #0d47a1,
  A100: #82b1ff,
  A200: #448aff,
  A400: #2979ff,
  A700: #2962ff,
  contrast: (
    50: rgba(black, .87),
    100: rgba(black, .87),
    200: rgba(black, .87),
    300: rgba(black, .87),
    400: rgba(black, .87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, .87),
    A200: white,
    A400: white,
    A700: white
  )
);


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$nvs-b2b-primary: mat.define-palette($mat-blue-nvs, 500, 200, 700);
$nvs-b2b-accent: mat.define-palette($mat-cyan-nvs, 500, 200, 700);

// The warn palette is optional (defaults to red).
$nvs-b2b-warn: mat.define-palette(mat.$red-palette);

//$mat-light-theme-background: $nvs-b2b-primary;

// Create the theme object (a Sass map containing all of the palettes).
$nvs-b2b-theme: mat.define-light-theme(
  (
    color: (
      primary: $nvs-b2b-primary,
      accent: $nvs-b2b-accent,
    ),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($nvs-b2b-theme);

/* You can add global styles to this file, and also import other style files */
.mat-horizontal-stepper-header-container {
  position: sticky;
  top: 0;
  background-image: linear-gradient(rgba($white, 1), rgba($white, 1), rgba($white, 0));
}

.mat-checkbox {
  .mat-checkbox-layout {
    white-space: initial;
  }

  .mat-checkbox-inner-container {
    margin-top: 4px;
  }
}

.dense-1 {
  @include mat.all-component-densities(-1);
}

.dense-2 {
  @include mat.all-component-densities(-2);
}

.dense-3 {
  @include mat.all-component-densities(-3);
}

th.mat-mdc-header-cell:first-of-type,
td.mat-mdc-cell:first-of-type,
td.mat-mdc-footer-cell:first-of-type {
  padding-left: 24px;
}

th.mat-mdc-header-cell:last-of-type,
td.mat-mdc-cell:last-of-type,
td.mat-mdc-footer-cell:last-of-type {
  padding-right: 24px;
}

.mat-mdc-table {
  .mat-mdc-header-cell,
  .mat-mdc-cell {
    padding-right: spacer(1);
    padding-left: spacer(1);
  }
}

.mdc-button {
  &.is-large {
    min-height: 48px;
    padding: 12px 24px;
    font-size: 16px;
  }
}