.logo-naiz-theme {
  position: relative;
  width: 2.8em;
  height: 1em;
  font-size: 1em;
  text-indent: -9999px;
  background-image: logo-naiz-text();
  @extend %image-logo;

  &::after {
    content: map-get($icons, 'icon-dots');
    position: absolute;
    bottom: -.22em;
    left: 1.7em;
    font-size: 1.24em;
    line-height: 1em;
    color: var(--color-theme);
    text-indent: 0;
    vertical-align: bottom;
    @extend %icon;
  }
}

.logo-naiz {
  @extend %image-logo;
  @include aspect-ratio(101, 38);
  background-image: logo-naiz();
}

.logo-naiz-negative {
  @extend %image-logo;
  @include aspect-ratio(101, 38);
  background-image: logo-naiz($white);
}

.logo-irratia {
  @extend %image-logo;
  @include aspect-ratio(100, 28);
  background-image: logo-irratia();
}

.logo-astero {
  @extend %image-logo;
  @include aspect-ratio(110, 28);
  background-image: logo-astero();
}

.logo-bidaiari {
  @extend %image-logo;
  @include aspect-ratio(119, 28);
  background-image: logo-bidaiari();
}

.logo-irratia-negative {
  @extend %image-logo;
  @include aspect-ratio(100, 28);
  background-image: logo-irratia($white);
}

.logo-7k-gray {
  @extend %image-logo;
  @include aspect-ratio(78, 63);
  background-image: logo-7k-gray();
}

.logo-gara {
  @extend %image-logo;
  @include aspect-ratio(195, 57);
  background-image: logo-gara-gray(#ca512b);
}

.logo-gara-gray {
  @extend %image-logo;
  @include aspect-ratio(195, 57);
  background-image: logo-gara-gray();
}

.logo-mediabask {
  @extend %image-logo;
  @include aspect-ratio(302, 61);
  background-image: logo-mediabask-gray(#1a171b);
}

.logo-mediabask-gray {
  @extend %image-logo;
  @include aspect-ratio(302, 61);
  background-image: logo-mediabask-gray();
}

.logo-kazeta {
  @extend %image-logo;
  @include aspect-ratio(302, 61);
  background-image: logo-kazeta-gray(#9eae12);
}

.logo-kazeta-gray {
  @extend %image-logo;
  @include aspect-ratio(302, 61);
  background-image: logo-kazeta-gray();
}

.logo-hamaika-gray {
  @extend %image-logo;
  @include aspect-ratio(335, 44);
  background-image: logo-hamaika-gray();
}
