<loading *ngIf="isLoading"></loading>
<div class="container-xs">
  <mat-card class="p-5">
    <div class="text-center mv-4">
      <a
        class="big-logo mb-3"
        href="https://www.pintyplus.com/"
        title="Pintyplus"
        target="_blank"
      >
        <img src="assets/images/pintyplus-b2b-600.png" />
      </a>
    </div>
    <div
      *ngIf="!token"
      class="alert alert-danger"
      [innerHTML]="'NewPassword.NoToken' | translate"
    ></div>
    <ng-container *ngIf="token">
      <p>
        {{ 'NewPassword.Description' | translate }}
      </p>
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="w-100 mt-2">
          <input
            matInput
            formControlName="newPassword"
            (keyup)="onCheck()"
            [placeholder]="'NewPassword.New' | translate"
            autocomplete="newPassword"
            type="password"
            required
          />
        </mat-form-field>
        <mat-form-field class="w-100">
          <input
            matInput
            formControlName="repeatPassword"
            (keyup)="onCheck()"
            [placeholder]="'NewPassword.Repeat' | translate"
            autocomplete="repeatPassword"
            type="password"
            required
          />
        </mat-form-field>
        <p class="mb-1">
          <mat-checkbox
            formControlName="checkCookies"
            (change)="onCheck()"
            required
          >
            <div
              nvsClickStopPropagationParent
              [innerHtml]="'NewPassword.Checkbox' | translate"
            ></div>
          </mat-checkbox>
        </p>
        <div *ngIf="error" class="alert alert-danger mt-2 mb-0">
          {{ error }}
        </div>
        <button
          [disabled]="isLoading"
          mat-raised-button
          color="primary"
          class="w-100 mt-2"
        >
          <span *ngIf="isLoading" class="spinner-border mr-1"></span>
          {{ 'NewPassword.Change' | translate }}
        </button>
      </form>
    </ng-container>
  </mat-card>
</div>
