.step-actions {
  position: fixed;
  right: 0;
  bottom: 0;
  left: $sidebar-size;
  z-index: z-index(actions);
  padding: spacer(1);
  text-align: right;
  background-color: rgba($accent, 1);
  animation: animation-step-actions .2s ease-out .5s both;

  &:not(.is-visible) {
    display: none;
  }
}

@keyframes animation-step-actions {
  from {
    bottom: -50px;
  }

  to {
    bottom: 0;
  }
}
