<div id="order-print" style="max-width: 100%; overflow-x: auto;">
  <table *ngIf="order" mat-table [dataSource]="order" class="order-table">
    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <i
        [style.background-color]="hexColorPad(element.color)"

          class="icon-color d-block"
        ></i>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'Common.Name' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <strong>{{ element.code }}</strong> -
        {{element.brand }} {{ element.name }}
      </td>
      <td mat-footer-cell *matFooterCellDef colspan="6"></td>
    </ng-container>

    <ng-container matColumnDef="family">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'Common.Range' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.family | translate }}
      </td>
    </ng-container>

    <ng-container matColumnDef="presentation">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'Common.Format' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.size }}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'Common.Boxes' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <input
          type="number"
          min="0"
          max="100"
          [value]="element.quantity"
          matTooltip="{{ element.quantity }} cajas de {{
            element.units_per_box
          }} unidades"
          (input)="onChangeOrder(element, $event)"
        />
        <span
          class="color-gray font-size-xs"
          [innerHTML]="'Confirm.InputBoxes' | translate: { u: element.units_per_box }"
        ></span>
      </td>
    </ng-container>

    <ng-container matColumnDef="units">
      <th mat-header-cell *matHeaderCellDef class="text-right">
        {{ 'Common.Units' | translate }}
      </th>
      <td mat-cell *matCellDef="let element" class="text-right">
        {{ element.quantity * element.units_per_box }}
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef class="text-right">
        {{ 'Common.UnitPrice' | translate }}
      </th>
      <td mat-cell *matCellDef="let element" class="text-right">
        {{ element.price | localeNumber }}€
      </td>
      <td mat-footer-cell *matFooterCellDef class="text-right px-1">
        Total
      </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef class="text-right">
        {{ 'Common.Amount' | translate }}
      </th>
      <td mat-cell *matCellDef="let element" class="text-right">
        {{ totalRow(element) | localeNumber }}€
      </td>
      <td mat-footer-cell *matFooterCellDef class="text-right pl-2">
        {{ total | localeNumber }}€
      </td>
    </ng-container>

    <ng-container matColumnDef="info">
      <td mat-footer-cell *matFooterCellDef colspan="8">
        <h6>{{ 'Common.Boxes' | translate }}</h6>
        <dl>
          <ng-container *ngFor="let size of sizesQuantity">
            <dt>{{ size.name }}:</dt>
            <dd>{{ size.quantity }}</dd>
          </ng-container>
        </dl>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      matRipple
      class="order-table__row"
    ></tr>
    <tr mat-footer-row *matFooterRowDef="tableFooterColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="tableFooterInfoColumns"></tr>
  </table>
</div>
